@import url(styles.css);

main {
  width: clamp(80%, 100% - 10vw, 100%);
  height: 100%;

  background-color: var(--background-secondary);
  margin: auto;
  display: grid;

  padding: 0.5rem;

  grid-template-areas:
    "img info"
    "content content";
  align-items: center;

  img {
    width: clamp(70%, 80vw, 100%);
    grid-area: img;
  }

  #article-info {
    grid-area: info;
    padding: clamp(0.5rem, 5vw, 1.5rem);
    align-self: start;
    justify-self: center;

    > h3 {
      font-size: clamp(1em, 3vw, 2em);
    }
  }

  #author-info {
    justify-self: start;
    align-items: center;

    display: flex;
    font-size: 1rem;

    gap: 1rem;
    p {
      align-self: center;
      color: var(--text-emphasis-secondary);
    }
    i {
      font-size: 1rem;
      aspect-ratio: 1;
    }
    ul {
      margin-left: 0.625rem;
      display: flex;
      gap: 1rem;
      list-style: none;
    }

    #about-author {
      color: var(--text);
      font-size: 1rem;
      max-width: 10ch;
    }
  }
  #main-content {
    grid-area: content;
    font-size: clamp(0.75rem, 2lvw,1.175rem);
    max-width: 80ch;
    margin-top: 3lvw;
    justify-self: center;
  }
}

@media (width <= 1024px) {
  main {
    grid-template-areas:
      "img"
      "info"
      "content";
    justify-items: center;
  }
}
