@import url(styles.css);

@media (max-width: 599px) {
  nav {
    flex-direction: column;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 0.75rem;
}


nav > div:hover {
  color: var(--text-emphasis);
  span {
    color: var(--text);
  }
}

.hero-section {
  background-color: var(--background-secondary);
}

.hero-section > div {
  box-sizing: border-box;
  width: 93%;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 2rem;
  text-align: center;
  align-items: center;
}

.hero-section p {
  font-size: 1.5rem;
}

.hero-section img {
  --max-width: 55%;
  max-width: var(--max-width);
  max-height: calc(var(--max-width) * 9 / 16);
}

/* @media (max-width: 768px) { */
@media (max-width: 1024px) {
  .hero-section > div {
    flex-direction: column;
    gap: 0;
  }
  .hero-section img {
    --max-width: 100%;
    max-width: var(--max-width);
    max-height: calc(var(--max-width) * 9 / 16);
  }
  .hero-section p {
    font-size: 1.25rem;
  }
}

@media (min-width: 789px) and (max-width: 1201px) {
  .hero-section p {
    font-size: 1.125rem;
  }
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
